<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>الحضور والإنصراف</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-grid>
<ion-row >
 <ion-col>
 <h3>
التاريخ </h3>

     </ion-col>
    <ion-col> <h3>

التوقيت </h3>

    </ion-col>
    <ion-col> <h3>

 الحالة </h3>

    </ion-col>
  </ion-row>
 
  <ion-row  *ngFor="let item of  acssess">
    <ion-col>
 
    <div class="center"> {{datepipe.transform(item?.logDate, 'yyyy-MM-dd')}}</div>
     </ion-col>
    <ion-col>
    <div class="center"> {{item.logTime}}</div>
    </ion-col>
    <ion-col *ngIf="item.inOut === 'IN'">
     <div class="center">
     <ion-icon name="arrow-round-up"  color="success"></ion-icon>
حضور</div>
    </ion-col>
        <ion-col *ngIf="item.inOut === 'OUT'">
         <div class="center">
                  <ion-icon name="arrow-round-down"  color="danger"></ion-icon>

إنصراف</div>
    </ion-col> 

      <ion-col *ngIf="item.inOut === 'UNAUTH'">
         <div class="center">
غير موثوق</div>
    </ion-col>

         <ion-col *ngIf="item.inOut === 'F2' || item.inOut === 'F1' ">
         <div class="center">
         اذن خروج
 </div >
    </ion-col>
 <ion-col *ngIf="item.inOut === null ">
         <div class="center">
  </div >
    </ion-col>
    
  </ion-row>
  </ion-grid>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="تحميل المزيد...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
