<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>الإجازات السنوية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-grid>
<ion-row >
 <ion-col>
 <h4>
المدة</h4>

     </ion-col>
    <ion-col> 
    <h4>
من
 </h4>

    </ion-col>
    <ion-col> 
    <h4>
 الي 
 </h4>
    </ion-col>

        

        <ion-col> 
    <h4>
 رصيد  
 </h4>
    </ion-col>

  </ion-row>
 
  <ion-row  *ngFor="let item of  logdata">


    <ion-col width-20>
    <div class="center"> {{item.amount}}</div>
    </ion-col>

        <ion-col width-30 >
    <div class="center"> {{datepipe.transform(item?.fromDate, 'yyyy-MM-dd')}}</div>
     </ion-col >
             <ion-col width-30  >
    <div class="center"> {{datepipe.transform(item?.toDate, 'yyyy-MM-dd')}}</div>
     </ion-col>
        <ion-col width-20  >
    <div class="center"> {{item.nexBala}}</div>
    </ion-col>

     

 
 
 
    
  </ion-row>
  </ion-grid>

 

</ion-content>
