<ion-header dir="rtl" no-border color="primary"  >
    <ion-toolbar  color="primary" >
        <ion-title>  
          <img width=" 17px;" src="../../../assets/img/UGJj5hBK.jpg" />
           ليبيا للإتصالات والتقنية 
         </ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content fullscreen dir="rtl" padding>
<ion-card class="ion-padding cardlogin"  > 
<ion-card-content>
<form    (ngSubmit)="login()" #loginform="ngForm">
                      <h2>تسجيل الدخول</h2>
                 <br>

         <ion-item>
         <ion-icon name="person"></ion-icon>
           <ion-input name="username" type="text"  placeholder="اسم المستخدم"  [(ngModel)]="model.username" > </ion-input>
        </ion-item>
                <br>
        <ion-item>
        <ion-icon name="lock"></ion-icon>
          <ion-input     name="password" [type]="passwordType"  placeholder="كلمة المرور" [(ngModel)]="model.password"> </ion-input>
           <ion-icon [name]="iconname"   item-end (click)="togglepassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-button   shape="round" [disabled]="!loginform.valid"    expand="block"   type="Submit"> تسجيل دخول </ion-button>
   </form>

  </ion-card-content>

  </ion-card>
 </ion-content>
