 
 ion-content{
   ion-card{
     margin-top: 100px;
     border-radius: 30px;
 
   }
 }
 ion-input{
  margin-top: 10px;
}
 
.cardlogin{
  ion-button{
    --box-shadow: none;
    --background: linear-gradient(90deg, rgba(69,149,255,1) 0%, rgba(69,149,255,1) 33%, rgba(104,207,254,1) 66%, rgba(104,207,254,1) 100%);}
h2{
  text-align: center;
  color: #1592F1;
}
}

ion-item{

  height: 45px;
  ion-input{
    color: #1592F1;
    margin: 1px;
    height: 30px;
   }
   ion-icon{
 color: #1592F1;
   }
 }