 <ion-split-pane >
   <ion-menu contentId="content" side="end" >
  <ion-header dir="rtl" >
  <ion-toolbar color="primary">
    <ion-title>القائمة </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content dir="rtl">
    <ion-list>
      <ion-menu-toggle   auto-hide="false"   *ngFor="let p of pages" >

        <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectpath.startsWith(p.url)" >
          <ion-label>{{p.title}}</ion-label>
           <ion-icon [name]="p.icon"></ion-icon>
        </ion-item>

      </ion-menu-toggle>

         <ion-item  (click)="loggedOut()" >
          <ion-icon name="log-out" slot="end">  </ion-icon>
          تسجيل الخروج
        </ion-item>

    </ion-list>
</ion-content>
   </ion-menu> 
 <ion-router-outlet id="content" main> </ion-router-outlet>
 </ion-split-pane>