h2{
font-weight: bold;
color:#000000;
margin-top: 20px; 
}
ion-label{
    color:#033046;

}
 
h3{
    text-align: center;

 }
// text-align: center;
ion-content{
    --ion-background-color:#f4f4f4 ;
}